.button222 {
    background-color: #6772e5;
    box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
    padding: 7px 14px;
  }
  .button:hover {
    background-color: #5469d4;
  }
  .button-label {
    color: #fff;
  }
.contact__cotainer__scroll{
    overflow-y: scroll;
    height: calc(100vh);
    position: relative;
}
.contact__cotainer__scroll2{
    overflow-y: scroll;
    height: calc(100vh);
    position: relative;
}

.contact__main_container{
    width: 100%;
    height: auto;
    overflow: hidden;
    overflow-y: hidden;
}
.MuiTextField{
    font-size: 4vmin;
}
.contact_container__header{
    top: 0px;
    margin: 0px;
    position: absolute;
    width: 100%;
    z-index: 10;
}
div{
    font-family: "Sarabun", "sans-serif" ;
    height: auto;
    width: 100%;
    .container__header{
        top: 0px;
        margin: 0px;
        position: absolute;
        height: calc(170vh);
        width: 100%;
        z-index: 1;
        margin-top: -50px;
        background-color: bisque;
        
    }
    .googlemap{
        width: 100%;
        height: 50vh;
        margin-top: 60px;   
    }
    .contact__boxMessage{
        position: absolute;
        margin-left: 10px;
        width: 320px;
        display: flex;;
        align-items: center;
        justify-content: start;
        flex-direction: column;
        padding: 5px;
        height: 100px;
        background-color: black;
        bottom: 45vh;
        border: 2px solid black;
        align-items: center;
        justify-content: space-evenly;
        >h1{
            font-size: 2.3vmin;
            color: rgb(255, 255, 255);
            font-weight: bold;
            text-align: center;
        }
        >p{
            font-size: 2vmin;
            color: rgb(255, 255, 255);
            text-align: center;
        }
    }


    .container__grid{
        width: 80%;
        height: auto;
        border-bottom: 1px solid rgb(207, 207, 207);
        // background-color: blue;
        margin: auto auto;
        display: grid;
        grid-template-columns: repeat(3 ,1fr);
        grid-template-rows:  repeat(1,150px);
        grid-gap: 10px;

        .section1{
            // background-color: rgb(187, 226, 214);
            display: flex;
                align-items: center;
                justify-content: space-evenly;
                flex-direction: column;
                text-align: center;
                 h1{
                font-size: 2.3vmin;
            }
            p{
                font-size: 2vmin;
                color:#27aa17;
            }

        }
        .section2{
            // background-color: rgb(247, 118, 204);
            display: flex;
                align-items: center;
                justify-content: space-evenly;
                flex-direction: column;
                text-align: center;
                h1{
                    font-size: 2.3vmin;
                }
                p{
                    font-size: 2vmin;
                    color:#27aa17;
                }

        }
        .section3{
            // background-color: rgb(69, 138, 52);
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            flex-direction: column;
            text-align: center;
            h1{
                
                font-size: 2.3vmin;
            }
            p{
                font-size: 2vmin;
                color:#27aa17;
            }

        }
        
    }
    
}

/*use*/
.section4__contact{
    margin-top: 80px;
    width: 100%;
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
    // background-color: #5469d4;
}
.section4__contact h1 {
    font-size: 2.7vmin;
    font-weight: bold;
    color: #27aa17;
    margin-bottom: 30px;
}
/*use*/

@media  screen and (max-width: 620px) {
    .section4__contact h1 {
        font-size: 5vmin;
    }
    div{
        
        .contact__boxMessage{
            display: none;
            >h1{
                font-size: 4vmin;
            }
            >p{
                font-size: 3.5vmin;
            }
        }
        .container__grid{
            grid-template-columns: 1fr;
            grid-template-rows: repeat(3,100px);
            grid-template-areas: 
            "it1"
            "it2"
            "it3"
            ;
            .section1{
                // background-color: rgb(219, 166, 202);
                h1{
                    
                    font-size: 5vmin;
                }
                p{
                    font-size: 4vmin;
                    line-height: 6vmin;
                }
            }
            .section2{
                grid-area: it2;
                // background-color: rgb(247, 118, 204);
                h1{
                    font-size: 5vmin;
                }
                p{
                    font-size: 4vmin;
                }
    
            }
            .section3{
                grid-area: it3;
                // background-color: rgb(69, 138, 52);
                h1{
                    font-size: 5vmin;
                }
                p{
                    font-size: 4vmin;
                }
            }
           
        }
    }
}