@import './reset';

html{
    font-size: 62.5%;
}

.hambergerMenu{
    // height: 60px;
    display: none;
}
.hamberger__container2{
    display: none;
}
.hamberger__container{
    display: none;
}

@media only screen and (max-width: 600px) {
    .hambergerMenu{
        height: 60px;
        display:flex ;
        align-items: center;
        justify-content: center;
    }
    .deleteLine_react_router_dom{
        font-size: 3.5vmin;
        color: rgb(212, 209, 209);
        text-decoration: none !important;
    }
    .line_show{
        width: 100%;
        height: 1px;
        background-color: white;
    }
    div.hamberger__container2{
        font-family: "Sarabun", "sans-serif" ;
        display: flex;
        flex-direction:column;
        margin:  0 auto;
        width: 100%;
        height: 40vh;
        background-color: black;
        position: -webkit-sticky;
        position: sticky;  
        top: 0px;
        >div{
            width: 100%;
            width: 60px;
            margin-left: auto;
        }
    }
    div.hamberger__container{
        font-family: "Sarabun", "sans-serif" ;
        display: flex;
        flex-direction:column;
        margin:  0 auto;
        width: 100%;
        background-color: #000000;
        height: auto;
        position: -webkit-sticky;
        position: sticky;  
        top: 0px;
        >div{
            width: 100%;
            width: 60px;
            margin-left: auto;
        }
        >div:nth-child(2){
            width: 100%;
            height: 50vh;
            background-color: rgb(202, 196, 188);
            margin-top: 60px;
            h1{
                color: black;
            }
        }
        
    }
  }