@import './reset';

html{
    font-size: 62.5%;
}


div.container__main{
    font-family: "Sarabun", "sans-serif" ;
    display: flex;
    margin:  0 auto;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    background-color: #000000;
    height: 60px;
    position: -webkit-sticky;
    position: sticky;  
    top: 0px;
    z-index: 0;
    a{
        text-decoration: none;
        outline:none
    }
    h1{
        color:white;
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 25px; 
    }
    img{
        width: 55px;
    }
    .dummy{
        width: 10vw;
        height: 50px;
    }
    .text-link{
        text-decoration: none;
    }
}

@media only screen and (max-width: 600px) {
    div.container__main{
        width: 0;
        height: 0;
        display: none;
    }
  }