@import './reset';
.wrap{
    width: 100%;
    height: auto;
    background-color: #161616;
}
div#container__header{
    top: 0px;
    margin: 0px;
    position: absolute;
    height: calc(870vh);
    width: 100%;
    z-index: 2;
    margin-top: -60px;
}
section.content1{
    width: 100%;
    height: calc(100vh - 60px);
    // background-color: blueviolet;
    margin: 60px auto 0 auto;
    .flex__container{
        width: 100%;
        height: 100%;
        overflow: hidden;
        
        .picture{
            margin-top: 0vh;
            width: 100%;
            // background-color: brown;
            justify-content: center;
            display: flex;
            img{
                width: 60%;
                height: auto;

            }
        }
        .text{
            background-color: rgb(0, 0, 0);
            text-align: center;
            h1{
                color: white;
                font-size: 14vmin;
                font-weight: bold;
                line-height: 17vmin;
            }
            h2{
                color: white;
                font-size: 7vmin;
                font-weight: bold;
                line-height: 1vmin;
            }
            h3{
                color: white;
                font-size: 4.5vmin ;
                font-weight: normal;
                line-height: 9vmin;
            }
        }
    }
}

@media screen and (max-width:668px){
    section.content1{
        width: 95%;
        .flex__container{
            overflow: hidden;
            .picture{
                margin-top: 20vh;
            }
            
        }
    }
}


section.content2{
    max-width: 100%;
    height: calc(100vh - 60px);
    // background-color: rgb(151, 204, 146);
    .container{
        margin: 0 auto;
        width: 100%;
        height: 100vh;
        // background-color: rgb(27, 97, 155);
        background-image: url('../img/home/Factory.png');
        background-position: center;
        background-repeat: no-repeat;
        .grid__container{
            // background-color: rgb(110, 97, 158);
            width: 100%;
            height: 100vh;
            display: grid;
            grid-template-columns: 0.5fr 1fr 1.5fr;
            grid-template-rows: 1fr;
            grid-template-areas: 
            "dummy text pic"
            "dummy text pic"
            ;
            justify-content: center;
            align-items: center;
            .dummy{
                background-color: brown;
                grid-area: dummy;
            }
            .text{
                color: white;
                // background-color: rgba(187, 255, 0, 0.5);
                grid-area: text;
                z-index: 2;
                height: 80%;
                h1{
                    font-size: 7vmin;
                }
            }
            .picture{
                z-index: 1;
                grid-area: pic;
                // background-color: rgba(75, 102, 189, 0.5);

            }
        }
    }
    
}

@media screen and (max-width:668px){
    section.content2{
        .container{
            .grid__container{
                grid-template-columns: 0.5fr 1fr 1.5fr;
                grid-template-rows: 1fr;
                grid-template-areas: 
                "text text text"
                "dummy pic pic"
                ;
                .text{
                    // background-color: rgba(187, 255, 0, 0.5);
                    grid-area: text;
                    z-index: 2;
                    height: 80%;
                    h1{
                        font-size: 7vmin;
                        text-align: center;
                        
                    }
                }
                .picture{
                    z-index: 1;
                    grid-area: pic;
                    // background-color: rgba(75, 102, 189, 0.5);
    
                }
            }
        }
        
    }
}