.container{
    background-color: #eee;
    width: 1000px;
    margin: 30px auto;
    height: auto;
    display: grid;
    grid-template-rows: 150px 150px;
    grid-template-columns: 150px 150px 150px;
    grid-gap: 2px;
    grid-template-areas:  
    "item1 item1" 
    "item2 item2"

}

.item{
    padding: 20px;
    font-size: 30px;
    font-family: sans-serif;
    color: white;

}
.item--1{
    grid-area: item1;
    background-color: tomato;
}
.item--2{
    grid-area: item2;
    background-color: rgb(179, 124, 114);
}

@media only screen and (max-width: 600px) {
    .container{
        grid-template-areas:  
        "item1 item2" 
        "item1 item2"
    }
  }